In [21]:
import pandas as pd 
import numpy as np

In [22]:
holidays = pd.read_csv('favorita-grocery-sales-forecasting/holidays_events.csv')
items = pd.read_csv('favorita-grocery-sales-forecasting/items.csv')
oil = pd.read_csv('favorita-grocery-sales-forecasting/oil.csv')
stores = pd.read_csv('favorita-grocery-sales-forecasting/stores.csv')
train = pd.read_csv('favorita-grocery-sales-forecasting/train.csv')
test = pd.read_csv('favorita-grocery-sales-forecasting/test.csv')

/var/folders/9z/jhl761ys4zxdmlymdmcfs3jm0000gn/T/ipykernel_25152/2319485345.py:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('favorita-grocery-sales-forecasting/train.csv')

In [23]:
train

                  id        date  store_nbr  item_nbr  unit_sales onpromotion
0                  0  2013-01-01         25    103665         7.0         NaN
1                  1  2013-01-01         25    105574         1.0         NaN
2                  2  2013-01-01         25    105575         2.0         NaN
3                  3  2013-01-01         25    108079         1.0         NaN
4                  4  2013-01-01         25    108701         1.0         NaN
...              ...         ...        ...       ...         ...         ...
125497035  125497035  2017-08-15         54   2089339         4.0       False
125497036  125497036  2017-08-15         54   2106464         1.0        True
125497037  125497037  2017-08-15         54   2110456       192.0       False
125497038  125497038  2017-08-15         54   2113914       198.0        True
125497039  125497039  2017-08-15         54   2116416         2.0       False

[125497040 rows x 6 columns]

In [24]:
items

      item_nbr            family  class  perishable
0        96995         GROCERY I   1093           0
1        99197         GROCERY I   1067           0
2       103501          CLEANING   3008           0
3       103520         GROCERY I   1028           0
4       103665      BREAD/BAKERY   2712           1
...        ...               ...    ...         ...
4095   2132318         GROCERY I   1002           0
4096   2132945         GROCERY I   1026           0
4097   2132957         GROCERY I   1068           0
4098   2134058         BEVERAGES   1124           0
4099   2134244  LIQUOR,WINE,BEER   1364           0

[4100 rows x 4 columns]

In [25]:
train = train.merge(items, on="item_nbr", how="left")

In [26]:
oil

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [27]:
oil = oil.bfill()

In [28]:
train = train.merge(oil, on="date", how="left")

In [29]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [30]:
train = train.merge(stores, on="store_nbr", how="left")

In [31]:
train

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,dcoilwtico,city,state,type,cluster
0,0,2013-01-01,25,103665,7.0,NaN,BREAD/BAKERY,2712,1,93.14,Salinas,Santa Elena,D,1
1,1,2013-01-01,25,105574,1.0,NaN,GROCERY I,1045,0,93.14,Salinas,Santa Elena,D,1
2,2,2013-01-01,25,105575,2.0,NaN,GROCERY I,1045,0,93.14,Salinas,Santa Elena,D,1
3,3,2013-01-01,25,108079,1.0,NaN,GROCERY I,1030,0,93.14,Salinas,Santa Elena,D,1
4,4,2013-01-01,25,108701,1.0,NaN,DELI,2644,1,93.14,Salinas,Santa Elena,D,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125497035,125497035,2017-08-15,54,2089339,4.0,False,GROCERY I,1006,0,47.57,El Carmen,Manabi,C,3
125497036,125497036,2017-08-15,54,2106464,1.0,True,BEVERAGES,1148,0,47.57,El Carmen,Manabi,C,3
125497037,125497037,2017-08-15,54,2110456,192.0,False,BEVERAGES,1120,0,47.57,El Carmen,Manabi,C,3
125497038,125497038,2017-08-15,54,2113914,198.0,True,CLEANING,3040,0,47.57,El Carmen,Manabi,C,3
125497039,125497039,2017-08-15,54,2116416,2.0,False,GROCERY I,1060,0,47.57,El Carmen,Manabi,C,3

In [32]:
promotion_mode = train['onpromotion'].mode()[0]

In [33]:
train.fillna(promotion_mode,inplace=True)

/var/folders/9z/jhl761ys4zxdmlymdmcfs3jm0000gn/T/ipykernel_25152/3638277662.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train.fillna(promotion_mode,inplace=True)
/var/folders/9z/jhl761ys4zxdmlymdmcfs3jm0000gn/T/ipykernel_25152/3638277662.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train.fillna(promotion_mode,inplace=True)

Store Data

In [34]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [35]:
print("No of cities which have the stores: ",len(stores['city'].unique()))
print("No of states that contian stores: ",len(stores['state'].unique()))
print("No of clusters in the dataset",len(stores['cluster'].unique()))

No of cities which have the stores:  22
No of states that contian stores:  16
No of clusters in the dataset 17

In [ ]:
stores['city'].value_counts()

In [ ]:
stores['state'].value_counts()

In [ ]:
len(stores['state'].unique())

In [20]:
city_state_counts = stores.groupby(["state", "city"]).size().unstack()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

city_state_counts.plot(kind="bar", stacked=True, figsize=(9, 6))

plt.xlabel("State")
plt.ylabel("Number of Stores")
plt.title("Distribution of Stores by State and City")
plt.legend(title="City", bbox_to_anchor=(1.05, 1), loc="bottom center")
plt.xticks(rotation=45, ha="right")

plt.show()

Items data

In [ ]:
items

In [ ]:
print('Total items', len(items['item_nbr'].unique()))
print('Total families', len(items['family'].unique()))
print('Total classes', len(items['class'].unique()))

In [ ]:
# check the data in the training dataset
print('---- training data size of each column----')
print("Total ietms in stores",len(train['item_nbr'].unique()))
print("Total store in the training dataset dataset",len(train['store_nbr'].unique()))
print("Total families in the training dataset ",len(train['family'].unique()))
print("Total cities in the training datase ",len(train['city'].unique()))
print("Total states in the training datase",len(train['state'].unique()))

Distribution of items across the families

In [ ]:
item_distribution = items['family'].value_counts()

plt.figure(figsize=(15,5))
item_distribution.plot(kind='bar',figsize=(15,5))
plt.xlabel('Family')
plt.ylabel('item count')
plt.title('Distribution of items across families')
plt.plot()

Sales analyze

In [125]:
train = train.drop('id',axis=1)

In [ ]:
train.head()

In [127]:
train['date'] = pd.to_datetime(train['date'])
train['year'] = train['date'].dt.year
train['month'] = train['date'].dt.month
train['day'] = train['date'].dt.day

In [128]:
average_sales = train.groupby("item_nbr")["unit_sales"].mean().reset_index()
average_sales.columns = ["item_nbr", "avg_unit_sales"]

In [ ]:
# get the average sales range of items
print("Average sales below 50:",len(average_sales[average_sales['avg_unit_sales'] <= 50]))
print("Average sales between 50 and 100:",len(average_sales[(average_sales['avg_unit_sales'] >= 50) & (average_sales['avg_unit_sales'] <= 100)]))
print("Average sales between 100 and 1000:",len(average_sales[(average_sales['avg_unit_sales'] >= 100) & (average_sales['avg_unit_sales'] <= 1000)]))
print("Average sales grater than 1000:",len(average_sales[average_sales['avg_unit_sales'] >= 1000]))

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(15, 6))
sns.barplot(x=average_sales["item_nbr"][:100], y=average_sales["avg_unit_sales"][:100])

plt.xlabel("Item Number")
plt.ylabel("Average Unit Sales")
plt.title("Distribution of Average Unit Sales per Item")
plt.xticks(rotation=90) 
plt.grid(True)

plt.show()

In [ ]:
daily_sales = train.groupby(["year", "month","day"])["unit_sales"].sum().reset_index()
daily_sales

In [37]:
daily_sales['date'] = pd.to_datetime(daily_sales[['year','month','day']])

In [ ]:

plt.figure(figsize=(15, 6))
plt.plot(daily_sales["date"], daily_sales["unit_sales"], linestyle="-", color="b", label="daily Sales")

plt.xlabel("Date")
plt.ylabel("Total Sales")
plt.title("Daily Total Sales Over Time")
plt.xticks(rotation=45)
plt.grid(True)
plt.legend()
plt.show()

In [39]:
monthly_sales = train.groupby(["year", "month"])["unit_sales"].sum().reset_index()

In [ ]:
monthly_sales.head()

In [ ]:

monthly_sales["date"] = pd.to_datetime(monthly_sales[["year", "month"]].assign(day=1))

plt.figure(figsize=(15, 6))
plt.plot(monthly_sales["date"], monthly_sales["unit_sales"], marker="o", linestyle="-", color="b", label="Monthly Sales")

plt.xlabel("Date (Year-Month)")
plt.ylabel("Total Sales")
plt.title("Monthly Total Sales Over Time")
plt.xticks(rotation=45)
plt.grid(True)
plt.legend()
plt.show()

In [ ]:
monthly_sales_city = train.groupby(["year", "month", "city"])["unit_sales"].sum().reset_index()
monthly_sales_city["date"] = pd.to_datetime(monthly_sales_city[["year", "month"]].assign(day=1))

#plot the sales
plt.figure(figsize=(12, 6))
for city in monthly_sales_city["city"].unique():
    city_data = monthly_sales_city[monthly_sales_city["city"] == city]
    plt.plot(city_data["date"], city_data["unit_sales"], marker="o", linestyle="-", label=city)
plt.xlabel("Date (Year-Month)")
plt.ylabel("Total Sales")
plt.title("Monthly Total Sales by City")
plt.xticks(rotation=45)  
plt.legend(title="City",)
plt.legend(title="City",loc="upper center", bbox_to_anchor=(0.5, -0.15), ncol=8)
plt.grid(True)
plt.show()

In [ ]:
monthly_sales_city

In [ ]:
monthly_sales_family = train.groupby(["year", "month", "family"])["unit_sales"].sum().reset_index()
monthly_sales_family["date"] = pd.to_datetime(monthly_sales_family[["year", "month"]].assign(day=1))

#plot the sales
plt.figure(figsize=(12, 6))
for family in monthly_sales_family["family"].unique():
    family_data = monthly_sales_family[monthly_sales_family["family"] == family]
    plt.plot(family_data["date"], family_data["unit_sales"], marker="o", linestyle="-", label=family)
plt.xlabel("Date (Year-Month)")
plt.ylabel("Total Sales")
plt.title("Monthly Total Sales considering the family")
plt.xticks(rotation=45)  
plt.legend(title="Family",loc="upper center", bbox_to_anchor=(0.5, -0.15), ncol=6)
plt.grid(True)
plt.show()

In [ ]:
train.head()

In [ ]:
train['city'].value_counts()

In [ ]:
train

In [67]:
from sklearn.preprocessing import LabelEncoder
#one hot encode for onpromotion ( Flase -> 0 and True -> 1)
train["onpromotion"] = train["onpromotion"].astype(int)

#label encoding for city, state,family, and type
label_encoders = {}
categorical_cols = ["city", "state", "family", "type"]

for col in categorical_cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])  
    label_encoders[col] = le

In [ ]:
for col in categorical_cols:
    print(f"Label encoding for '{col}':")
    print(dict(enumerate(label_encoders[col].classes_)))

In [ ]:
import seaborn as sns
correlation = train.corr()

plt.figure(figsize=(10, 6))  # Set figure size
sns.heatmap(correlation, annot=True, cmap="coolwarm", fmt=".2f", linewidths=0.5)
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
train

In [71]:
train.set_index('date',inplace=True)

In [98]:
choosen_df = train[train.index >= '2015-12-23']

In [99]:
choosen_df = choosen_df[choosen_df['city']=='Quito']

In [ ]:
choosen_df

In [96]:
from sklearn.preprocessing import LabelEncoder
#one hot encode for onpromotion ( Flase -> 0 and True -> 1)
choosen_df["onpromotion"] = choosen_df["onpromotion"].astype(int)

#label encoding for city, state,family, and type
label_encoders = {}
categorical_cols = ["city", "state", "family", "type"]

for col in categorical_cols:
    le = LabelEncoder()
    choosen_df[col] = le.fit_transform(choosen_df[col])  
    label_encoders[col] = le

In [ ]:
for col in categorical_cols:
    print(f"Label encoding for '{col}':")
    print(dict(enumerate(label_encoders[col].classes_)))

In [76]:
choosen_df = choosen_df[choosen_df['family']==12]

In [78]:
choosen_items = choosen_df['item_nbr'].value_counts()[:20].index.to_list()

In [79]:
choosen_df = choosen_df[choosen_df['item_nbr'].isin(choosen_items)]

In [62]:
# choosen_df.to_csv('choosen_df.csv')

In [ ]:
choosen_df

In [ ]:
#conacatanate the test dataset with items, oil, and stores df
test = test.merge(items, on="item_nbr", how="left")
test = test.merge(oil, on="date", how="left")
test = test.merge(stores, on="store_nbr", how="left")